body {
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #fff7eb;
}

.hover-dark-red:hover {
  border-bottom: 3px solid #e7040f;
  transition: border-bottom 0.1s;
}

.f-headline-ns {
  font-size: 15vmin;
}

.f1-ns,
.f2-ns,
p.text {
  margin: 0 0 0.5rem 0;
}
